[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/gowthamkumar12/glfw
[submodule "Vendor/ImGui"]
	path = Vendor/ImGui
	url = https://github.com/gowthamkumar12/imgui.git
